<!doctype HTML>
<html lang="en">
  <head>
    <!--     
    Hey there, this is @carlsednaoui. Thanks for stopping by.
                                                                                                       
                                                        `+#;.`````.;#+`                                                               
                                                     ;'`````````````````''                                                            
                                                  `#```````````````````````#`                                                         
                                                `'```````````````````````````'`                                                       
                                               #```````````````````````````````#                                                      
                                             ;```````````````````````````````````;                                                    
                                            @`````````````````````````````````````@                                                   
                                           '```````````````````````````````````````'                                                  
                                          :`````````````````````````````````````````,                                                 
                                         :```````````````````````````````````````````,                                                
                                        '`````````````````````````````````````````````;                                               
                                       @```````````````````````````````````````````````@                                              
                                      :`````````````````````````````````````````````````;                                             
                                      ```````````````````````````````````````````````````                                             
                                     #```````````````````````````````````````````````````#                                            
                                    ```````````````````````````````````````````````````````                                           
                                    +`````````````````````````````````````````````````````+                                           
                                    ```````````````````````````````````````````````````````                                           
                                   @`````````````+@@@:```````````````````````:@@@+`````````@                                          
                                   .```````````@@@@@@@@;```````````````````;@@@@@@;@````````                                          
                                   ```````````@@@@@@;   @`````````````````#@@@@@    .````````                                         
                                  +``````````@@@@@@#     ;```````````````,@@@@@:     @``````#                                         
                                  +`````````,@@@@@@      +```````````````@@@@@@      ,,`````'                                         
                                  .`````````@@@@@@@      :.`````````````.@@@@@@      ,@``````                                         
                                  ``````````@@@@@@@      #+`````````````+@@@@@@,     @@``````                                         
                                  ``````````@@@@@@@@     @@`````````````@@@@@@@@    `@@``````                                         
                                  ``````````@@@@@@@ @  `@@#`````````````#@@@@@@'`#:@@@@``````                                         
               ;`;                ``````````@@@@@@@@@@@@@@,`````````````,@@@@@@@@@@@@@@```````                                        
        @,@   #``'                ``````````;@@@@@@@@@@@@@```````````````@@@@@@@@@@@@@;```````                                        
        ```.  ,``;                ```````````@@@@@@@@@@@@'```````````````'@@@@@@@@@@@@```````                                         
        #```;````@                ````````````@@@@@@@@@@@`````````````````@@@@@@@@@@@````````                                         
         ,````:``'                `````````````@@@@@@@@#```````````````````#@@@@@@@@`````````                                         
          @`;`,;:`                :`````````````,@@@@#```````````````````````#@@@@,`````````.                                         
        +##;``````#@              +`````````````````````````````````````````````````````````.                                         
       .````#`````;``@            +`````````````````````````````````````````````````````````.                                         
       `````;`````````@           +`````````````````````````````````````````````````````````.                                         
       `+.,@`````;`````           +`````````````````````````````````````````````````````````.                                         
           '````:``````+          +`````````````````````````````````````````````````````````.                                         
            :@@;```````@:         +````````````````````````````````.,;+#@+;,;```````````````.                                         
             :`````````#``        +`````.@@.````````````````````#           '```````````````.                                         
             #````````````@#`     +````,.....```````````````````'           #```````````````.                                         
              .```````#``````@`,  +````+....#````````````````````           ````````````````.`@:,;#                                   
              `.`````+````````+``.#````'....'````````````````````;         +````````````````#```````+                                 
                +':+:``````````````#```'....'.+++++++++++++++++```'       +````````````````'`````````#                                
                 '````````+````:````+``'....','''''''''''''''''`````#:.:@`````````````````#````````:@#@.                              
                 ``````````````'````.``'....',@@@@@@@@@@@@@@@@@``````````````````````````````````,.`````:                             
                  :``````:`````;```````'....'````````````````````````````````````````````:``````:`````````                            
                    ++++`````````````,`'....'````````````````````````````````````````````+````````````````:                           
                     #````````@``````.`'....'````````````````````````````````````````````+`````#````````;#'@,                         
                      ;``````'`````````'....','''''''''''''''''``````````````````````````,`````;``````,.`````;                        
                       #.``.#```````@``'....',,,,,,,,,,,,,,,,,,````````````````````````````````,`````.````````,                       
                           ````````:```'....'`.................```````````````````````````#````:`````:```````.;@                      
                            :`````#````'....'``````````````````````````````````````````````+```@````.``````#`````@                    
                             .#@+ +````'....'````````````````````````;@@@@@@@@@@@@@@@@@@@```@```````'`````+```````:                   
                                  +````'....'````````````````````````;        @         '```. @;@```+````@`````````+                  
                                  +````'....',#################``````;     ''.`        :+```.    @``,```````````,,``                  
                                  +````'....','''''''''''''''''``````; +   ':# :     ;, '```.     `#,```:`````@````++ #@#             
                                  +````'....'`,,,,,,,,,,,,,,,,,``````;. #      '  +   : '```.        '``'````+``````@````;            
                                  +````'....'````````````````````````;   `,       ,@#   '```.         #`;```'``````@`````+            
                                  +````'....'````````````````````````;   :@     @   `   '```.          `+```;``````:````:             
                                  +````'....'.'''''''''''''''''``````;           #      '```.            +``.``````.',';              
                                  +````'....',;;;;;;;;;;;;;;;;;``````;           `      '```.             .`,``````:@;                
                                  +````'....',;;;;;;;;;;;;;;;;;```````...................```.              ;@``````````;              
                                  +````'....',;;;;;;;;;;;;;;;;;`````````````````````````````.               .```,,``````;             
                                  +````'....',;;;;;;;;;;;;;;;;;`````````````````````````````.                `.'``@@````.             
                                  +````'....'`,,,,,,,,,,,,,,,,,`````````````````````````````.                  ```. #```.             
                                  +````'....'```````````````````````````````````````````````.                  ````   :'              
                                  +````'....'```````````````````````````````````````````````.                  ```:                   
                                  +````'....',+++++++++++++++++`````````````````````````````.                  ;``#                   
                                  +````'....','''''''''''''''''`````````````````````````````.                   ,+                    
                                  +````'....'```````````````````````````````````````````````.                                         
                                  +````@....@```````````````````````````````````````````````.                                         
                                  +`````;..;````````````````````````````````````````````````.                                         
                                  +`````````````````````````````````````````````````````````.                                         
                                  +`````````````````````````````````````````````````````````.                                         
                                  +`````````````````````````````````````````````````````````.                                         
                                  +`````````````````````````````````````````````````````````.                                         
                                  +`````````````````````````````````````````````````````````.                                         
                                  +`````````````````````````````````````````````````````````.                                         
                                  +`````````````````````````````````````````````````````````.                                         
                                  +``````````````.@+++@:````````````````++++++``````````````.                                         
                                  +`````````````@```````+`````````````,````````.````````````.                                         
                                  +````````````+`````````#``````````````````````````````````.                                         
                                  +````````````.`````````````````````@``````````#```````````.                                         
                                  +```````````````````````:``````````;``````````'```````````.                                         
                                               ```````````:          ;``````````;                                                     
                                               ```````````,          ;``````````'                                                     
                                          `##++####+++##++++##+++###+@+###++###+@+##.                                                 
                                         #```;`+```@`````,'```,`#```@`.```:;```,`#```#                                                
                                         `````#`````+````:`````#`````@````.`````@``````                                               
                                         `````@`````,``````````#`````;``````````+`````'                                               
                                         `````+`````#````;`````+`````@````,,````@`````                                                
                                         ;```#`@```+`:``.`:```+`@```#`;```..```'`#```@                                                
                                           ::::::'::::;;::::;:::::':::::;::::;::::::
    -->

    <meta charset="utf8">
    <title>Permutationer - Merge Keywords Like A Champ</title>
    <meta name="description" content="Easily create 1000's of keyword variations for your paid-search campaigns.">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/javascript/zclip.js"></script>
  </head>

  <body>
    <div id="wrapper">
      <header>
        <h1><img src="/images/bolt.png" class="logo"><a href="/">Permutationer</a></h1>
        <h2>The easiest way to concatenate loads of keywords together.</h2>
      </header>
      
      <div id="main">
        <%= yield %>
      </div>

      <footer>
        <p><small>An app built by <a href="http://www.carlsednaoui.com">Carl Sednoui</a>. You should follow me on <a href="https://twitter.com/carlsednaoui">Twitter here</a>. Works best on <a href="http://www.google.com/chrome" target="_blank">modern browsers</a>.</small></p>
      </footer>
    </div>
  </body>
</html>